<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if title %} {{title}} - Microblog {% else %} Welcome to Microblog{% endif %}</title>
        <meta name="description" content="Microblog Tutorial">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>Microblog: <a href="/index">Home</a> | <a href="/contact">Contact</a></div>
        <hr>
        {% block content %} {% endblock %}
        <script src="" async defer></script>
    </body>
</html>