<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if title %} {{title}} - Microblog {% else %} Welcome to Microblog{% endif %}</title>
        <meta name="description" content="Microblog Tutorial">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>Microblog: <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('contact') }}">Contact</a> | 
        
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif%}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif%}
        {% endwith %}
        {% block content %} {% endblock %}
        <script src="" async defer></script>
    </body>
</html>